@import url(http://fonts.googleapis.com/css?family=Play|Ruda:900);

/* basic resets and kick-off of all the main styles */
body{
  margin: 0;
  padding: 0;
  background: #1B354E url(../img/bg-tiled-02.png) center top repeat-x;
  font-family: 'Play', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Ruda', sans-serif;
  font-weight: 900;
}
h1{
  font-size: 3em;
  margin: 0;
  padding: 40px 0 25px 0;
}
ul, li{
  cursor: pointer;
  margin: 0;
  padding: 0;
  list-style: none;
}
p{
  margin: .2em 0 1.8em 0;
}
a{
  color: #99cc33;
  text-decoration: none;
  outline: none;
}
a:hover, a:focus {
  color: #373e18;
}



/* the main central column - has a different background to the rest of the body so it stands out a bit */
#main{
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  
  background: #172940 url(../img/bg-tiled-center-02.png) center top repeat-x;
}
/* no nav here - this is just a container for the little usses to run around in */
header{
  width: 100%;
  height: 290px;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}
/* the torches are added to the header */
.torch{
  width: 50px;
  height: 100px;
  background: url(../img/torch-base.png) no-repeat;
  display: block;
  background-size: cover;
  position: absolute;
  top: 40px;
  background-position: center;
}
#torch-left{
  left: 10%;
}
#torch-right{
  right: 10%;
}

/* all actual content will be in here - give it some padding */
#content{
  color: #FFF;
  padding: 0 4% 20px 4%;
  box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.4);
}

/* the student info area - where all our info will live - in three columns */
.student .column{
  display: inline-block;
  width: 30%;
  margin: 5px 2%;
  vertical-align: top;
  /*background: #F60;*/
}
.student .column:first-child{
  margin-left: 0;
}
.student .column:last-child{
  margin-right: 0;
}

/* display the student names on one line - later these will be the sprites */
#students li {
  display:inline;
}
.social-icon {
  width: 90px;
}

/* the portfolio items with rollover */
#details-projects .column{
  /* width 265 */
  height: 198px;
  position: relative;
  overflow: hidden;
  background: #FFF;
}
#details-projects a span{
  /* width 265 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  padding: 5px;
}
#details-projects a img{
  width: 265px;
  height: 198px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 1s ease;
}
#details-projects a img:hover{
  padding-top: 100%;
}












div button {
  display: inline-block;
  background: #a9a9a9;
  color: #fff;
  font-weight: 400;
  padding: 10px 20px;
  margin: 5px;
  text-transform: uppercase;
  border-radius: 2px;
  letter-spacing: 1px;
  border: none;
  padding: 15px 30px;
  outline: none;
  background: #85b91e;
}

section {
  padding: 1em 2em 5em;
  text-align: center;
  font-size: 1.5em;
}

section p {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
}

.related > a {
  border: 1px solid #99cc33;
  display: inline-block;
  text-align: center;
  margin: 20px 10px;
  padding: 25px;
  color: #99cc33;
  opacity: 0.8;
  -webkit-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
  -webkit-backface-visibility: hidden;
}

.related a:hover {
  border-color: #82b222;
  color: #82b222;
}

.related a img {
  max-width: 100%;
}

.related a h3 {
  margin: 0;
  padding: 0.5em 0 0.3em;
  max-width: 300px;
  text-align: left;
  font-size: 65%;
  font-weight: 400;
}


/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(153,204,51,0.9);
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* overlay style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* Effects */
.overlay-boxes {
  background: transparent;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.8s;
  transition: visibility 0s 0.8s;
}

.overlay-boxes.open {
  visibility: visible;
  -webkit-transition: none;
  transition: none;
}

.overlay-boxes svg {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay-boxes svg path {
  /*fill: rgb(153,204,51);*/
  fill: #ff5c6f;
  display: none;
}

.overlay-boxes nav,
.overlay-boxes .overlay-close {
  opacity: 0;
  -webkit-transition: opacity 0.5s 0.8s;
  transition: opacity 0.5s 0.8s;
}

.overlay-boxes.open nav,
.overlay-boxes.open .overlay-close {
  opacity: 1;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.overlay-boxes.close nav,
.overlay-boxes.close .overlay-close {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
}



.bounce {
  -webkit-animation: bounce 1.2s ease-out;
  -moz-animation: bounce 1.2s ease-out;
  -o-animation: bounce 1.2s ease-out;
  animation: bounce 1.2s ease-out;
}

/* Webkit, Chrome and Safari */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0%);
  }
  10% {
    -webkit-transform: translateY(-50%);
  }
  14% {
    -webkit-transform: translateY(-80%);
  }
  18% {
    -webkit-transform: translateY(-50%);
  }
  25% {
    -webkit-transform: translateY(5%);
  }
  30% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(0%);
  }
  60% {
    -webkit-transform: translateY(-50%);
  }
  64% {
    -webkit-transform: translateY(-80%);
  }
  68% {
    -webkit-transform: translateY(-50%);
  }
  75% {
    -webkit-transform: translateY(5%);
  }
  80% {
    -webkit-transform: translateY(0%);
  }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {

  0% {
    -moz-transform: translateY(0%);
  }
  10% {
    -moz-transform: translateY(-50%);
  }
  14% {
    -moz-transform: translateY(-80%);
  }
  18% {
    -moz-transform: translateY(-50%);
  }
  25% {
    -moz-transform: translateY(5%);
  }
  30% {
    -moz-transform: translateY(0%);
  }
  50% {
    -moz-transform: translateY(0%);
  }
  60% {
    -moz-transform: translateY(-50%);
  }
  64% {
    -moz-transform: translateY(-80%);
  }
  68% {
    -moz-transform: translateY(-50%);
  }
  75% {
    -moz-transform: translateY(5%);
  }
  80% {
    -moz-transform: translateY(0%);
  }
}

/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
    -o-transform: translateY(0%);
  }
  10% {
    -o-transform: translateY(-50%);
  }
  14% {
    -o-transform: translateY(-80%);
  }
  18% {
    -o-transform: translateY(-50%);
  }
  25% {
    -o-transform: translateY(5%);
  }
  30% {
    -o-transform: translateY(0%);
  }
  50% {
    -o-transform: translateY(0%);
  }
  60% {
    -o-transform: translateY(-50%);
  }
  64% {
    -o-transform: translateY(-80%);
  }
  68% {
    -o-transform: translateY(-50%);
  }
  75% {
    -o-transform: translateY(5%);
  }
  80% {
    -o-transform: translateY(0%);
  }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(-50%);
  }
  14% {
    transform: translateY(-80%);
  }
  18% {
    transform: translateY(-50%);
  }
  25% {
    transform: translateY(5%);
  }
  30% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(0%);
  }
  60% {
    transform: translateY(-50%);
  }
  64% {
    transform: translateY(-80%);
  }
  68% {
    transform: translateY(-50%);
  }
  75% {
    transform: translateY(5%);
  }
  80% {
    transform: translateY(0%);
  }
}
