<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Backbone Blog</title>
  <link rel="stylesheet" href="css/style.css" >
  
  
</head>
<body>
  <div id="main">
    <header>

        <div class="torch" id="torch-left"><img src="img/flame-fucking.gif" alt="flaming torches batman!"></div>
        <div class="torch" id="torch-right"><img src="img/flame-fucking.gif" alt="flaming torches batman!"></div>     
      <!-- Append the student sprites to the header. We will add the JS animations in appView.js. When we have all sprites, we can use a loop to interpolate our names -->      
      <div class="character">
        <div class="viewer">
           <img  class="home_sprite" src="assets/ollysprite.png">
        </div>
      </div>        

    </header>
    <div id="content">
      <h1>WDI SYD FEB 14</h1>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
      <p>qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
    </div>
  </div>


  
<!--View displays all students. Links to urls containing our names from the slug.--> 
<script id="appView" type="text/x-underscore-template">
  <ul id="students"></ul>
</script>

<script id="studentListView" type="text/x-underscore-template">
  <a href="#<%= slug %>"><%= name %></a>
</script>

<script id="studentView" type="text/x-underscore-template">
  <div class="student <%= name %>">
    <h1 class="name"><%= name %></h1>
    <div id="details-main">
      <div class="column photo">headshot</div>
      <div class="column bio"><%= aboutMe %></div>
      <div class="column contact">contact details</div>
    </div>
    <div id="details-projects">
      <div class="column project-01">project 1 image with a nice rollover to display the details underneath</div>
      <div class="column project-02">project 2 image with a nice rollover to display the details underneath</div>
      <div class="column project-03">project 3 image with a nice rollover to display the details underneath</div>
    </div>
  </script>

  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/models/student.js"></script>
  <script src="js/collections/students.js"></script>
  <script src="js/views/appView.js"></script>
  <script src="js/views/studentListView.js"></script>
  <script src="js/views/studentView.js"></script>
  <script src="js/router/router.js"></script>
  <script src="js/yearbook.js"></script>


  <script>
  //script to move sprite. Should be moved into a backbone view once working.
  $(document).ready(function() {
      console.log('fishes')
        if ($(".home_sprite").length > 0) {        
            var windowHeight = $(window).height();
            var sprite = $(".home_sprite");
            var currentPos = parseInt(sprite.css("right"));
            var height = parseInt(sprite.css("height"));
            // The following two functions turn the homepage sprites back and forth
            // This turns the sprite right -------------------------------
            function turnCharacterRight (){
              if (currentPos < 256){
                currentPos = currentPos + 32;
                sprite.css({
                 right: currentPos
               });
                setTimeout(turnCharacterRight, 500);
              }else {
                turnCharacterLeft();
              }
            };      
            // This turns the sprite left -------------------------------------
            function turnCharacterLeft() {
              if (currentPos > 0){
                currentPos = currentPos - 32;
                sprite.css({
                right: currentPos
               });
                setTimeout(turnCharacterLeft, 500);
              }else {
                turnCharacterRight();
              }
            };
            turnCharacterRight();
        }    
  });
  </script>


</body>
</html>