<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Backbone Blog</title>
  <script src="js/lib/jquery.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/models/student.js"></script>
  <script src="js/collections/students.js"></script>
  <script src="js/views/appView.js"></script>
  <script src="js/views/studentListView.js"></script>
  <script src="js/views/studentView.js"></script>
  <script src="js/router/router.js"></script>
  <script src="js/yearbook.js"></script>
  <link rel="stylesheet" href="css/style.css">


</head>
<body>
  
<div id="main">
  <!-- empty so we can append via js -->
</div>






<script id="appView" type="text/x-underscore-template">
  <h1>GA WDI #4 - the latest and greatest</h1>
  <ul id="students"></ul>
</script>

<script id="studentListView" type="text/x-underscore-template">
  <a href="#<%= slug %>"><%= name %></a>
</script>

<script id="studentView" type="text/x-underscore-template">
  <div class="student">
    <h1 class="name"><%= name %></h1>
    <div class="content">
      <%= aboutMe %>
    </div>
  </div>
</script>

</body>
</html>